<%= render "shared/navbar_main" %>
<div class="mealplan-new">

  <div class="mealplan-new-title d-flex flex-column align-items-center pt-2 px-4 text-center w-75">
    <h1>Bonjour
      <% if user_signed_in?  %>
        <%= current_user.email.split("@").first.capitalize %>
      <% end %>
      !
    </h1>
    <h2>Planifie tes repas de la semaine en 3 clics...</h2>
  </div>

  <div class="mealplan-form">
    <%= form_with model: @meal_plan do |f| %>

      <div class="mealplan-form-input" data-controller="change-qty" data-change-qty-max-value="<%= MealPlan::MAX_NB_MEAL %>" >
        <%= f.label :nb_meals, "Combien de repas veux-tu planifier ?", class: "mealplan-form-label" %>
        <%= f.hidden_field :nb_meals, data: { "change-qty-target": "nbInput" }, value: 5 %>
        <div class="mealplan-form-nb">
          <i
            class="my-icon-minus-wo-circle mealplan-form-nb-icons clickable-green-plus"
            data-action="click->change-qty#decrease">
          </i>
          <p
            class="mealplan-form-nb-qty"
            data-change-qty-target="nbQty">
            5
          </p>
          <i
            class="my-icon-plus-wo-circle mealplan-form-nb-icons clickable-green-plus"
            data-action="click->change-qty#increase">
          </i>
        </div>
      </div>

      <div class="mealplan-form-input" data-controller="change-qty" data-change-qty-max-value="<%= Meal::MAX_NB_PEOPLE %>" >
        <%= f.label :nb_people, "Combien serez-vous à table ?", class: "mealplan-form-label" %>
        <%= f.hidden_field :nb_people, data: { "change-qty-target": "nbInput" }, value: 2  %>
        <div class="mealplan-form-nb">
          <i
            class="my-icon-minus-wo-circle mealplan-form-nb-icons clickable-green-plus"
            data-action="click->change-qty#decrease">
          </i>
          <p
            class="mealplan-form-nb-qty"
            data-change-qty-target="nbQty">
            2
          </p>
          <i
            class="my-icon-plus-wo-circle mealplan-form-nb-icons clickable-green-plus"
            data-action="click->change-qty#increase">
          </i>
        </div>
      </div>

      <div class="mealplan-form-input mealplan-form-diets d-flex flex-column">
        <p class="mealplan-form-label">As-tu un régime particulier ?</p>
        <div class="mealplan-form-diets">
          <% Diet.all.each do |diet| %>
            <%= render partial: "meal_plans/diet_icons", locals: {diet: diet}%>
          <% end %>
        </div>
      </div>

      <div class="mealplan-form-button grocery-btn-container py-3 clickable">
        <%= f.submit "Crée tes menus", class: "button-grocery-form" %>
      </div>

    <% end %>
  </div>
  <%= render "shared/bottom_navbar" %>
</div>
