<div class="mealplan_new">

  <div class="mealplan_new_title">
    <h1>Bonjour
      <% if user_signed_in?  %>
        <%= current_user.email.split("@").first.capitalize %>
      <% end %>
      !
    </h1>
  </div>

  <div class="mealplan_form">
    <%= form_with model: @meal_plan do |f| %>

      <div class="mealplan_form_input" data-controller="change-qty" data-change-qty-max-value="<%= MealPlan::MAX_NB_MEAL %>" >
        <%=  %>
        <%= f.label :nb_meals, "Combien de repas voulez-vous planifier ?", class: "mealplan_form_label" %>
        <%= f.hidden_field :nb_meals, data: { "change-qty-target": "nbInput" }, value: 5 %>
        <div class="mealplan_form_nb">
          <i
            class="my-icon-minus-wo-circle mealplan_form_nb_icons"
            data-action="click->change-qty#decrease">
          </i>
          <p
            class="mealplan_form_nb_qty"
            data-change-qty-target="nbQty">
            5
          </p>
          <i
            class="my-icon-plus-wo-circle mealplan_form_nb_icons"
            data-action="click->change-qty#increase">
          </i>
        </div>
      </div>

      <div class="mealplan_form_input" data-controller="change-qty" data-change-qty-max-value="<%= Meal::MAX_NB_PEOPLE %>" >
        <%= f.label :nb_people, "Combien serez-vous à table ?", class: "mealplan_form_label" %>
        <%= f.hidden_field :nb_people, data: { "change-qty-target": "nbInput" }, value: 2  %>
        <div class="mealplan_form_nb">
          <i
            class="my-icon-minus-wo-circle mealplan_form_nb_icons"
            data-action="click->change-qty#decrease">
          </i>
          <p
            class="mealplan_form_nb_qty"
            data-change-qty-target="nbQty">
            2
          </p>
          <i
            class="my-icon-plus-wo-circle mealplan_form_nb_icons"
            data-action="click->change-qty#increase">
          </i>
        </div>
      </div>

      <div class="mealplan_form_input mealplan_form_diets d-flex flex-column">
        <p class="mealplan_form_label">Avez-vous un régime particulier ?</p>
        <% Diet.order(:name).each do |diet| %>
          <div>
            <label for="<%= diet.id %>"><%= diet.name.capitalize %></label>
            <input type="checkbox" name="diets[]" id="<%= diet.id %>" value="<%= diet.id %>">
          </div>
        <% end %>
      </div>

      <div class="mealplan_form_button">
        <%= f.submit "GO !", class: "button-go-search-form" %>
      </div>

    <% end %>
  </div>
</div>
