<%= render "shared/navbar_specific", title: "Ton menu", backlink: new_meal_plan_path  %>

<div class="container d-flex flex-column justify-content-between px-4 py-2" style="height: 100vh;">
  <div class="cards">
    <% @meals.sort.each do |meal| %>
    <div class="card-meal" data-controller="meal" data-meal-id="<%= meal.id %>">
      <%= link_to meal_path(meal) do %>
        <div class="card-meal-image">
          <%= image_tag meal.recipe.photo_url, alt: meal.recipe.title %>
        </div>
      <% end %>
      <div class="card-meal-body">
        <h2 class="overflow-ellipsis"><%= meal.recipe.title.truncate(30) %></h2>
        <div class="card-meal-infos" data-controller="change-qty" data-change-qty-max-value="<%= Meal::MAX_NB_PEOPLE %>">
          <%= form_with model: meal, data: {change_qty_target: "form"} do |f| %>
            <div class="card-meal-people" >
              <%= f.hidden_field :nb_people, data: { change_qty_target: "nbInput" }, value: meal.nb_people %>
              <i
                class="my-icon-minus"
                data-action="click->change-qty#decrease">
              </i>
              <p>
                <strong><i class="my-icon-people"></i></strong> <span data-change-qty-target="nbQty"><%= meal.nb_people %></span> pers
              </p>
              <i
                class="my-icon-plus"
                data-action="click->change-qty#increase">
              </i>
            </div>
          <% end %>

          <p><strong><i class="my-icon-time"></i></strong> <%= meal.recipe.prep_time %> min </p>

          <div class="card-meal-actions">
            <%= link_to replace_meal_path(meal), data: {turbo_method: :patch} do %>
              <i class="my-icon-replace"></i>
            <% end %>

            <%# <%= link_to meal_path(meal), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <a data-action="click->meal#delete">
              <i class="my-icon-trash"></i>
            </a>
          </div>

        </div>
      </div>

    </div>
    <% end %>
  </div>
  <div class="grocery-btn-container d-flex justify-content-center align-items-center py-3">
    <%= button_to "Crée ta liste de courses", {controller: "grocery_lists", action: "create", meal_plan_id: @meal_plan.id},  class: "button-grocery-form", method: :post %>
  </div>
</div>
