<div class="button-bottom-navbar">
  <% if user_signed_in? && current_user.meal_plans.any? %>
    <%= link_to meal_plan_path(current_user.meal_plans.last) do %>
      <i class="my-icon-menu clickable-green-plus"></i>
    <% end %>
    <%= link_to meal_plan_grocery_lists_path(current_user.meal_plans.last) do %>
      <i class="my-icon-grocery-list clickable-green-plus"></i>
    <% end %>
  <% else %>
    <%= link_to meal_plans_empty_path do %>
      <i class="my-icon-menu clickable-green-plus"></i>
    <% end %>
    <%= link_to meal_plans_empty_path do %>
      <i class="my-icon-grocery-list clickable-green-plus"></i>
    <% end %>
  <% end %>

  <%= link_to map_path do %>
    <i class="my-icon-map clickable-green-plus"></i>
  <% end %>
</div>
