<%= render "shared/navbar_specific", title: "Recette", backlink: meal_plan_path(@meal_plan) %>

<div class="meal-show-container">

  <div class="meal-show-img-container">
    <%= image_tag @meal.recipe.photo_url, alt: @meal.recipe.title, class: "meal-show-img" %>
  </div>

  <div class="meal-show-infos-container p-4" data-controller="collapse">

    <h1 class="meal-show-title mb-2 text-center"><%= @meal.recipe.title %></h1>
    <div class="meal-show-infos mb-3 p-2">
      <div class="meal-show-infos-card">
        <div><i class="my-icon-time"></i><strong> Temps de préparation :&nbsp;</strong></div>
        <div> <%= @meal.recipe.prep_time %> minutes</div>
      </div>
      <div class="meal-show-infos-card">
        <div><i class="my-icon-people"></i><strong> Pour :&nbsp;</strong></div>
        <div> <%= @meal.nb_people %> personne<%= @meal.nb_people > 1 ? "s" : "" %></div>
      </div>
    </div>

    <div class="mb-3 d-flex justify-content-evenly">
      <button class="rounded-pill meal-show-button" disabled type="button" data-collapse-target="button" data-action="click->collapse#open">
        Ingrédients
      </button>
      <button class="rounded-pill meal-show-button" type="button" data-collapse-target="button" data-action="click->collapse#open">
        Instructions
      </button>
    </div>

    <div class="meal-show-recipe">
      <div class="meal-show-ingredients collapse show" data-collapse-target="block">
        <ul class="meal-show-list-group-ingredient">
          <% @meal.recipe.recipe_ingredients.each do |item| %>

            <li class="meal-show-list-group-ingredient-item">
              <div class="meal-show-ingredient-content">
                <div class="meal-show-ingredient-content-item">
                  <%= image_tag item.ingredient.photo_url, alt: item.ingredient.name%>
                </div>
                <div class="meal-show-ingredient-content-item-name">
                  <p><%= item.ingredient.name %></p>
                </div>
                <div class="meal-show-ingredient-content-item">
                  <% qty = @meal.nb_people * item.qty_per_person %>
                  <% if qty % 1 != 0 %>
                    <%= qty.truncate(4) if item.ingredient.unit != "selon le goût" %>
                  <%else%>
                    <%= qty.truncate(0) if item.ingredient.unit != "selon le goût" %>
                  <%end%>

                  <% if qty > 1 %>
                    <%= item.ingredient.unit.gsub(/\(.*?\)/, 's') %>
                  <%else%>
                    <%= item.ingredient.unit.gsub(/\(.*?\)/, '')  %>
                  <%end%>
                </div>
              </div>
            </li>

          <% end %>
        </ul>
      </div>

      <div class="meal-show-instructions collapse" data-collapse-target="block">
          <%= @meal.recipe.description.split(/[\.]+ */).join(". <br>").split(/[!]+ */).join("! <br>").html_safe %>
      </div>
    </div>

  </div>

</div>
